{# can be more *programmable*, in the specific type pages, than this hardcoded style #}
{% macro crumb(url, name, pos) %}
  <span itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
    <a itemprop='item' href='{{ SITEURL }}/{{ url.replace('index.html', '') }}'><span itemprop='name'>{{ name }}</span></a>
    <meta itemprop='position' content='{{ pos }}'/>
  </span>
  &lt;
{% endmacro %}

{% macro crumb_home() %}
  <span itemprop='itemListElement' itemscope itemtype='https://schema.org/ListItem'>
    <meta itemprop='name' content='Home'/>
    <span itemprop='item' itemscope itemtype='https://schema.org/Blog'>
      <meta itemprop='name' content='{{ SITENAME|escape }}'/>
      <a itemprop='url' href='{{ SITEURL }}'>Home</a>
    </span>
    <meta itemprop='position' content='1'/>
  </span>
{% endmacro %}

<div itemscope itemtype='https://schema.org/BreadcrumbList'>
  {% if article or page %}
    {% set obj = article or page %}
    {{ crumb(obj.save_as, obj.title|truncate(20), 4) }}
    {{ crumb(obj.category.save_as, obj.category.name, 3) }}
    {{ crumb(CATEGORIES_SAVE_AS or 'categories.html', 'Categories', 2) }}
  {% elif author or category or tag %}
    {% for obj, title, SAVE_AS in (
      (author, 'authors', AUTHORS_SAVE_AS),
      (category, 'categories', CATEGORIES_SAVE_AS),
      (tag, 'tags', TAGS_SAVE_AS),
    ) %}
      {% if obj %}
        {% if articles_page.number > 1 %}
          {{ crumb(obj.save_as.replace('.html', '%d.html' % articles_page.number), 'Page %d' % articles_page.number, 4) }}
        {% endif %}
        {{ crumb(obj.save_as, obj.name, 3) }}
        {{ crumb(SAVE_AS or title ~ '.html', title|title, 2) }}
      {% endif %}
    {% endfor %}
  {% elif period %}
    {# dirty, dirty, dirty date #}
    {% if articles %}
      {% set d = (period + ('January', '1')[period|length - 1:])|join(' ') %}
      {% set d = articles[0].date.strptime(d, '%Y %B %d') %}
    {% endif %}
    {% for i in range(period|length - 1, -1, -1) %}
      {% set p = period[i]|string %}
      {% if i == 0 and YEAR_ARCHIVE_SAVE_AS %}
        {% set url = YEAR_ARCHIVE_SAVE_AS.replace('{date:%Y}', p).replace('{date:%y}', p) %}
        {{ crumb(url, p, 2) }}
      {% elif d and (i == 1 or i == 2) and MONTH_ARCHIVE_SAVE_AS %}
        {{ crumb((MONTH_ARCHIVE_SAVE_AS, DAY_ARCHIVE_SAVE_AS)[i - 1].format(date=d), p, 2) }}
      {% else %}
        {{ p }}
        &lt;
      {% endif %}
    {% endfor %}
  {% elif page_name.startswith('index') %}
  {% elif page_name.startswith('authors') %}
    {{ crumb(AUTHORS_SAVE_AS or 'authors.html', 'Authors', 2) }}
  {% elif page_name.startswith('categories') %}
    {{ crumb(CATEGORIES_SAVE_AS or 'categories.html', 'Categories', 2) }}
  {% elif page_name.startswith('tags') %}
    {{ crumb(TAGS_SAVE_AS or 'tags.html', 'Tags', 2) }}
  {% elif page_name.startswith('archives') %}
    {{ crumb(ARCHIVES_SAVE_AS or 'archives.html', 'Archives', 2) }}
  {% endif %}
  {{ crumb_home() }}
</div>

{% if article or page %}
  <div itemscope itemtype='https://schema.org/BreadcrumbList'>
    {% set obj = article or page %}
    {{ crumb(obj.save_as, obj.title|truncate(20), 5) }}

    {% set d = (
        (4, '%d', DAY_ARCHIVE_SAVE_AS),
        (3, '%B', MONTH_ARCHIVE_SAVE_AS),
        (2, '%Y', YEAR_ARCHIVE_SAVE_AS),
      )
    %}
    {% for position, format, save_as in d %}
      {% set title = obj.date.strftime(format) %}
      {% if save_as %}
        {{ crumb(save_as.format(date=obj.date), title, position) }}
      {% else %}
        {{ title }}
        &lt;
      {% endif %}
    {% endfor %}
    {{ crumb_home() }}
  </div>
{% endif %}
